.ech-body {
    background-color: lightgray;
}

.ech-aff {
    margin-top: -10%;
    font-weight: bold;
    background-color: white;
}

.ech-outline {
    border: 0px solid #000;
    background-color: white;
}

.ech-container {
    position: relative;
}

.ech-echelon {
    font-family: "Arial Unicode MS";
    font-weight: bold;
    background-color: white;
    word-break: break-all;
}

.ech-image {
    position: absolute;
}

.ech-2525b {
    background-color: white;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(12%, -50%);
}

.ech-2525c {
    background-color: white;
    top: 50%;
    left: 50%;
}

.ech-frame {
    position: absolute;
    top: 0px;
    left: 0px;
}

.ech-note {
    font-weight: bold;
    word-break: break-all;
}

.ech-wrap {
    word-break: break-all;
    font-size: xx-small;
}

