.ech-body {
    background-color: #3b3b3b;
}

.ech-indicator {
    position: absolute;
    margin-left: 88%;
    margin-top: -12%;
    font-weight: bold;
    background-color: #fefefe;
}

.ech-outline {
    border: 0px solid #000;
    background-color: white;
}

.ech-container {
    position: relative;
    top: 9%;
}

.ech-echelon {
    font-family: "Arial Unicode MS";
    font-weight: bold;
    background-color: white;
    word-break: break-all;
    background-color: #fefefe;
}

.ech-image {
    position: absolute;
}

.ech-2525b {
    background-color: white;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -moz-transform: translate(12%, -50%);
    -ms-transform: translate(12%, -50%);
    -o-transform: translate(12%, -50%);
    -webkit-transform: translate(12%, -50%);
    transform: translate(17%, -50%);
}

.ech-2525c {
    background-color: white;
    top: 50%;
    left: 50%;
}

.ech-frame {
    position: absolute;
    left: 0px;
    top: 0px;
}

.ech-note {
    position:relative;
    font-weight: bold;
    line-height: 90%;
    word-break: break-all;
    background-color: #fefefe;
}

.ech-notex {
    position:relative;
    font-weight: bold;
    line-height: 90%;
    word-break: normal;
    background-color: #fefefe;
}

.ech-wrap {
    font-size: xx-small;
    word-break: break-all;
}

.ech-footer {
    color: lightgray;
    font-size: xx-small;
}

