.ech-body {
    background-color: #3b3b3b;
}

.ech-aff {
    margin-top: -10%;
    font-weight: bold;
    background-color: white;
}

.ech-outline {
    border: 0px solid #000;
    background-color: white;
}

.ech-container {
    position: relative;
}

.ech-echelon {
    font-family: "Arial Unicode MS";
    font-weight: bold;
    background-color: white;
    word-break: break-all;
}

.ech-image {
    position: absolute;
}

.ech-2525b {
    background-color: white;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -moz-transform: translate(12%, -50%);
    -ms-transform: translate(12%, -50%);
    -o-transform: translate(12%, -50%);
    -webkit-transform: translate(12%, -50%);
    transform: translate(12%, -50%);
}

.ech-2525c {
    background-color: white;
    left: 50%;
    top: 50%;
}

.ech-frame {
    position: absolute;
    left: 0px;
    top: 0px;
}

.ech-note {
    font-weight: bold;
    word-break: break-all;
}

.ech-wrap {
    font-size: xx-small;
    word-break: break-all;
}

.ech-footer {
    color: lightgray;
    font-size: xx-small;
}

